<div class="otherRow">
	<ul>
		<li>
			<div class="otherdiv">

				<h3>Service Specials</h3>

				<%= image_tag "slider1.jpg" %>

				<a href="#">Read More<%= fa_icon "chevron-right", right: true %></a>

			</div>
		</li>
		<li>
			<div class="otherdiv">

				<h3>Preventative Maintenance</h3>

				<%= image_tag "slider2.jpg" %>

				<a href="#">Read More<%= fa_icon "chevron-right", right: true %></a>

			</div>
		</li>
		<li>
			<div class="otherdiv">

				<h3>Filter Program</h3>

				<%= image_tag "slider3.jpg" %>

				<a href="#">Read More<%= fa_icon "chevron-right", right: true %></a>

			</div>
		</li>
		

	</ul>




</div>